{% extends "layout.html" %}

{% block side_bar %}
  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('home') }}">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Sins On Twitter</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">

      <a class="nav-link">
        <i class="fas fa-fw fa-search"></i>
        <span>Keywords</span>
      </a>
      <div>
        <input type="text" value="lust, wraith, sloth" data-role="tagsinput"/>
      </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">


    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item active">
      <a class="nav-link">
        <i class="fas fa-fw fa-address-card"></i>
        <span>Crime Type</span>
      </a>
      <div class="dropdown mb-4">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownCrimeButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          Select Crime Type
        </button>
        <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownCrimeButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </li>

    <li class="nav-item active">
      <a class="nav-link">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Chart Type</span>
      </a>
      <div class="radio-group">
        <div>
          <input type="radio" id="bar" name="chart" value="bar" checked>
          <label for="bar">Bar Chart</label>
        </div>
        <div>
          <input type="radio" id="radar" name="chart" value="radar">
          <label for="radar">Radar Chart</label>
        </div>
      </div>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <li class="nav-item active">
      <a class="nav-link">
        <i class="fas fa-fw fa-heartbeat"></i>
        <span>Sentiment Filter</span>
      </a>
      <div class="radio-group">
        <div>
          <input type="radio" id="all" name="sentiment" value="all" checked>
          <label for="all">All</label>
        </div>
        <div>
          <input type="radio" id="negative" name="sentiment" value="negative">
          <label for="negative">Negative</label>
        </div>
        <div>
          <input type="radio" id="neutral" name="sentiment" value="neutral">
          <label for="neutral">Neutral</label>
        </div>
        <div>
          <input type="radio" id="positive" name="sentiment" value="positive">
          <label for="positive">Positive</label>
        </div>
      </div>
    </li>

    <button class="btn btn-light" id="searchBtn">
      Search
    </button>
  </ul>
  <!-- End of Sidebar -->
{% endblock %}

{% block content %}

  <div id="chartArea" style="width: 80%;height: 300px; position: relative; left: 20px;top: 20px;">
    <div id="title" style="">
      <tab>Twitter data Vs Aurin data</tab>
    </div>
    <div id="content" style="position: relative;width: 80%;height: 80%;">
      <canvas id="barChart"></canvas>
    </div>
  </div>

  <div class="map">

  </div>

{% endblock %}

{% block javascript %}
  {{ super() }}

  <script src="../static/js/barChart.js"></script>
{% endblock %}