{% extends "layout.html" %}
{% block styles %}
  {{ super() }}
  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

<!-- Sidebar -->
{% block side_bar %}
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="sidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('home') }}">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Sins On Twitter</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link">
        <i class="fas fa-fw fa-search"></i>
        <span>Keywords</span>
      </a>
      <div>
        <input type="text" id="keywords" value="" data-role="tagsinput"/>
      </div>

    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- sin selector -->
    <li class="nav-item active">
      <a class="nav-link">
        <i class="fas fa-fw fa-address-card"></i>
        <span>Sin Type</span>
      </a>
      <select class="custom-select" id="sin-select" name="crime-select" onchange="onSinSelectChange()">
        {% for option in option_list %}
          <option value="{{ option.sin }}" class="dropdown-item">{{ option.sin }}</option>
        {% endfor %}
      </select>
    </li>

    <!-- state selector -->
    <li class="nav-item active">
      <a class="nav-link">
        <i class="fas fa-fw fa-globe-asia"></i>
        <span>State in Australia</span>
      </a>
      <select class="custom-select" id="state-select" name="state-select">
        {% for state in option_list[0].states %}
          <option value="{{ state }}" class="dropdown-item">{{ state }}</option>
        {% endfor %}
      </select>
    </li>

    <!-- database selector -->
    <li class="nav-item active">
      <a class="nav-link">
        <i class="fas fa-fw fa-database"></i>
        <span>Data in Australia</span>
      </a>
      <div class="radio-group" id="database-radio">
        {% for database in option_list[0].databases %}
          <div>
            <input type="radio" id="{{ database }}" name="database">
            <label for="{{ database }}">{{ database }}</label>
          </div>
        {% endfor %}
      </div>
    </li>

    <hr class="sidebar-divider">

    <!-- chart select -->
    <li class="nav-item active">
      <a class="nav-link">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Chart Type</span>
      </a>
      <div class="radio-group" id="chart-radio">
        <div>
          <input type="radio" id="bar" name="chart" value="bar" checked>
          <label for="bar">Bar Chart</label>
        </div>
        <div>
          <input type="radio" id="radar" name="chart" value="radar">
          <label for="radar">Radar Chart</label>
        </div>
      </div>
    </li>
    <button class="btn btn-light" id="searchBtn" onclick="search()">
      Search
    </button>

  </ul>
{% endblock %}

<!-- Display Area -->
{% block content %}
  <div name="visualize" style="width: 80%; position: relative; left: 20px;top: 20px;">
    <div id="chartArea" style="height: 500px">
      <div id="title">
        <tab>Twitter data Vs Aurin data</tab>
      </div>
      <div id="content" style="position: relative;width: 50%;height: 80%;left:30px">

        <canvas id="barChartCanvas"
                style="position: absolute;width: 378px; top: -40px ;height: 400px;left: 150px;display: block;"></canvas>

        <canvas id="radarChartCanvas"
                style="position: absolute;width: 378px; top: -40px ;height: 400px;left: 100px;display: block;"></canvas>

      </div>

    </div>

    <div>
      <tab id="map-header" style="display: block;position: absolute;top:50%"> Sin Map</tab>
    </div>
    <div style="position: absolute;width: 100%;top: 55%;left: 0px;">
      <div id="map">
      </div>
      <div class="title">
      </div>
    </div>

  </div>
{% endblock %}

{% block javascript %}
  {{ super() }}
  {# ----------------------- Map visualization part -----------------------------------------#}
  <script src='http://www.google.com/jsapi'></script>
  <script>

      let STATES_DICT = {
          "vic": "Victoria", "nsw": "New South Wales", "que": "Queensland", "tas": "Tasmania"
          , "west_au": "Western Australia", "south_au": "South Australia"
      };


      google.load('visualization', '1', {
          'packages': ['geochart'], 'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
      },);

      function drawMap() {
          $("#map-header").val("Sin Map - " + request_sin);
          let map_data = [];
          console.log("requ_sin", request_sin);
          for (let state in STATES_DICT) {
              console.log(data_to_visualise[request_sin][state], state)
              map_data.push([STATES_DICT[state], data_to_visualise[request_sin][state]["percentage_of_tweets"]]);

          }
          map_data.push(["Northern Territory", 0]);
          console.log("map_data666:", map_data);
          google.setOnLoadCallback(mapSetting());

          function mapSetting() {
              var data = new google.visualization.DataTable();
              data.addColumn('string', 'Country');
              data.addColumn('number', 'Degree of ' + request_sin);
              {#data.addRows([#}
              {#    ['New South Wales', 0.3],#}
              {#    ['Queensland', 0.4],#}
              {#    ['South Australia', 0.7],#}
              {#    ['Tasmania', 0.2],#}
              {#    ['Victoria', 0.4],#}
              {#    ['Western Australia', 0.5],#}
              {#    ['Northern Territory', 0.6]]);#}
              data.addRows(map_data);
              var options = {
                  backgroundColor: {fill: '#FFFFFF', stroke: '#FFFFFF', strokeWidth: 0},
                  colorAxis: {
                      minValue: 0,
                      maxValue: 1,
                      colors: ['#e6ffe6', '#003300']
                  },
                  legend: 'Map of Sin On Twitter',
                  backgroundColor: {fill: '#FFFFFF', stroke: '#FFFFFF', strokeWidth: 0},
                  displayMode: 'region',
                  enableRegionInteractivity: 'true',
                  resolution: 'provinces',
                  sizeAxis: {minValue: 1, maxValue: 1, minSize: 10, maxSize: 10},
                  region: 'AU',
                  keepAspectRatio: true,
                  width: 800,
                  height: 500,
                  magnifyingGlass: {enable: true, zoomFactor: 7.5}
              };
              var chart = new google.visualization.GeoChart(document.getElementById('map'));
              chart.draw(data, options);
          }
      }

      {#------------ Chart visualzation part---------------------------------------------- #}

      /**
       * draw chart, either bar chart or radar chart
       */
      function drawChart() {
          if (Window.bar != undefined)
              Window.bar.destroy();
          if (Window.radar != undefined)
              Window.radar.destroy();
          let radarRadio = $('#radar');
          let barRadio = $('#bar');
          {#let canvas = document.getElementById("barChartCanvas");#}
          {#let ctx = getctx("barChartCanvas");#}
          {#ctx.clearRect(0, 0, canvas.width, canvas.height);#}
          if (barRadio.is(':checked')) {

              console.log("Barchart")
              drawBarChart();

          } else if (radarRadio.is(':checked')) {
              console.log("radarChart");
              drawRadar();
          }
      }

      let states_name = Object.values(STATES_DICT);
      let states_code = Object.keys(STATES_DICT);


      /**
       * draw radar chart
       *
       ***/
      function drawRadar() {

          let sins_degree = {};
          let sins = Object.keys(data_to_visualise);
          let degree;
          for (let state in STATES_DICT) {
              degree = [];
              for (let sin in data_to_visualise) {
                  degree.push(data_to_visualise[sin][state]["percentage_of_tweets"]);
              }
              sins_degree[state] = degree;
          }

          let ctx = getctx("radarChartCanvas");
          let data = {
              labels: sins,
              datasets: [{
                  backgroundColor: 'rgba(255, 99, 132, 0.2)',
                  borderColor: 'rgba(255,99,132,1)',
                  data: sins_degree[states_code[0]],
                  label: states_name[0],
                  boarderWidth: 1,
                  fill: true
              }, {
                  backgroundColor: 'rgba(54, 162, 235, 0.2)',
                  borderColor: 'rgba(54, 162, 235, 1)',
                  data: sins_degree[states_code[1]],
                  label: states_name[1],
                  boarderWidth: 1,
                  fill: true
              }, {
                  backgroundColor: 'rgba(255, 206, 86, 0.2)',
                  borderColor: 'rgba(255, 206, 86, 1)',
                  data: sins_degree[states_code[2]],
                  boarderWidth: 1,
                  label: states_name[2],
                  fill: true
              }, {
                  backgroundColor: 'rgba(75, 192, 192, 0.2)',
                  borderColor: 'rgba(75, 192, 192, 1)',
                  data: sins_degree[states_code[3]],
                  label: states_name[3],
                  boarderWidth: 1,
                  fill: true
              }, {
                  backgroundColor: 'rgba(153, 102, 255, 0.2)',
                  borderColor: 'rgba(153, 102, 255, 1)',
                  data: sins_degree[states_code[4]],
                  label: states_name[4],
                  boarderWidth: 1,
                  fill: true
              }, {
                  backgroundColor: 'rgba(255, 159, 64, 0.2)',
                  borderColor: 'rgba(255, 159, 64, 1)',
                  data: sins_degree[states_code[5]],
                  label: states_name[5],
                  boarderWidth: 1,
                  fill: true
              }]
          };


          let options = {
              maintainAspectRatio: false,
              responsive: true,
              spanGaps: false,
              elements: {
                  line: {
                      tension: 0.00000001
                  }
              },
              plugins: {
                  filler: {
                      propagate: false
                  },
                  'samples-filler-analyser': {
                      target: 'chart-analyser'
                  }
              },
              title: {
                  display: true,
              }
          };


          Window.radar = new Chart(ctx, {
              type: 'radar',
              data: data,
              options: options
          })
      }

      function getctx(canvas) {

          let ctx = document.getElementById(canvas).getContext('2d');
          return ctx
      }


      /**
       * Draw Barchart
       */
      function drawBarChart() {
          let ctx = getctx("barChartCanvas");
          let data = data_to_visualise[request_sin];
          {#-----sort data --------#}
          let sorted_data = [];
          for (let state in data) {
              sorted_data.push([state, data[state]["aurin_data"]]);
          }
          let sorted = sorted_data.sort(function (x, y) {
              return x[1] - y[1]
          });
          let sorted_aurin = [];
          let sorted_states = [];
          let twitter_data = [];
          for (let i = 0; i < sorted.length; i++) {
              let state = sorted[i][0];
              let aurin = sorted[i][1];
              sorted_states.push(STATES_DICT[state]);
              sorted_aurin.push(aurin);
              twitter_data.push(data[state]["percentage_of_tweets"])
          }
          {#----end of sorting--------#}

          Window.bar = new Chart(ctx, {
              type: 'bar',
              data: {
                  // areas location
                  labels: sorted_states,

                  datasets: [{
                      label: "Percentage of " + request_sin + " Tweets",
                      backgroundColor: "#3e95cd",
                      data: twitter_data,
                      boarderWidth: 1
                  },
                      {
                          label: request_aurin,
                          backgroundColor: "#8e5ea2",
                          data: sorted_aurin,
                          boarderWidth: 1
                      }
                  ]
              },
              options: {

                  mode: 'index',
                  label: true,
                  maintainAspectRatio: false,
                  responsive: true,
                  legend: {display: true},
                  title: {
                      display: true,
                  }

              }
          });


      }


      {# Get data #}


      $(function () {
          onSinSelectChange();
          checkFirstDatabaseItem();
          search();
      });

      /**
       * sin selector changed, dynamically change the state and database options
       */
      function onSinSelectChange() {
          let options = {{ option_list|tojson }};
          let selectedSin = $("#sin-select").val();
          let stateSelector = $("#state-select");
          let databaseRadios = $("#database-radio");

          stateSelector.empty();
          databaseRadios.empty();
          for (let i in options) {
              let item = options[i];
              if (item.sin === selectedSin) {
                  for (let j in item.states) {
                      let state = item.states[j];
                      let state_name = STATES_DICT[state];
                      stateSelector.append($('<option/>', {'value': state, 'text': state_name}));
                  }

                  for (let j in item.databases) {
                      let database = item.databases[j];

                      // use database name as element id
                      let radio = "<div>" +
                          "<input type='radio' name='database' id='" + database + "'></input>" +
                          "<label for='" + database + "'>" + database + "</label>" +
                          "</div>";
                      databaseRadios.append(radio);
                  }
                  checkFirstDatabaseItem();
              }
          }
      }

      let request_state = "";
      let request_sin = "";
      let request_aurin = "";
      let data_to_visualise = {};

      /**
       * click search button,
       * submit form data by ajax
       */
      function search() {
          let databaseGroup = $('#database-checkboxs');
          let chartRadioGroup = $('#chart-radio');

          let data = {
              keywords: $("#keywords").tagsinput("items"),
              sin: $("#sin-select").val(),
              state: $("#state-select").val(),
              database: getRadioValByName(databaseGroup, 'database'),
              field: "test_field",
              chart: getRadioValByName(chartRadioGroup, 'chart'),
          };
          request_sin = $("#sin-select").val();
          request_state = $("#state-select").val()
          request_aurin = getRadioValByName(databaseGroup, 'database')

          let options = {
              url: "{{ url_for('search') }}",
              dataType: "json",
              contentType: "application/json",
              type: "post",
              data: JSON.stringify(data),
          };

          $.ajax(options)
              .done(function (responseText) {
                  data_to_visualise = responseText;
                  console.log(data_to_visualise);
                  drawChart();
                  drawMap();
              });

      }

      /**
       * get value of the radio in the form
       * get value of the radio in the form
       * @param element radio group
       * @param name name of the radio
       * @returns value of the radio
       */
      function getRadioValByName(element, name) {
          let val;
          let radios = $('[name=' + name + ']');

          for (let i = 0, len = radios.length; i < len; i++) {
              if (radios[i].checked) {
                  val = radios[i].value;
                  break;
              }
          }
          return val;
      }

      /**
       * get the list of selected databases
       * @param element checkbox group
       * @returns {Array} list of database name
       */
      function getSelectedCheckboxs(element) {
          let checkboxs = $('[type=checkbox]');
          let selectedList = [];

          for (let i = 0, len = checkboxs.length; i < len; i++) {
              if (checkboxs[i].checked) {
                  selectedList.push($(checkboxs[i]).attr('id'));
              }
          }
          return selectedList;
      }

      /**
       * automaticalluy check the first radio button of the database list
       */
      function checkFirstDatabaseItem() {
          let radios = $('[name=database]');
          radios[0].checked = true;
      }

  </script>
{% endblock %}