{% extends "layout.html" %}
{% block styles %}
  {{ super() }}
  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

<!-- Sidebar -->
{% block side_bar %}

  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="sidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('home') }}">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Sins On Twitter</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link">
        <i class="fas fa-fw fa-search"></i>
        <span>Keywords</span>
      </a>
      <div>
        <input type="text" id="keywords" value="" data-role="tagsinput"/>
      </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item active">
      <a class="nav-link">
        <i class="fas fa-fw fa-address-card"></i>
        <span>Crime Type</span>
      </a>
      <select class="custom-select" id="crime-select" name="crime-select">
        {% for crime in crime_list %}#}
          <option value="{{ crime }}" class="dropdown-item">{{ crime }}</option>
        {% endfor %}
      </select>
    </li>

    <li class="nav-item active">
      <a class="nav-link">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Chart Type</span>
      </a>
      <div class="radio-group" id="chart-radio">
        <div>
          <input type="radio" id="bar" name="chart" value="bar" checked>
          <label for="bar">Bar Chart</label>
        </div>
        <div>
          <input type="radio" id="radar" name="chart" value="radar">
          <label for="radar">Radar Chart</label>
        </div>
      </div>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <li class="nav-item active">
      <a class="nav-link">
        <i class="fas fa-fw fa-heartbeat"></i>
        <span>Sentiment Filter</span>
      </a>
      <div class="radio-group" id="sentiment-radio">
        <div>
          <input type="radio" id="all" name="sentiment" value="all" checked>
          <label for="all">All</label>
        </div>
        <div>
          <input type="radio" id="negative" name="sentiment" value="negative">
          <label for="negative">Negative</label>
        </div>
        <div>
          <input type="radio" id="neutral" name="sentiment" value="neutral">
          <label for="neutral">Neutral</label>
        </div>
        <div>
          <input type="radio" id="positive" name="sentiment" value="positive">
          <label for="positive">Positive</label>
        </div>
      </div>
    </li>

    <button class="btn btn-light" id="searchBtn" onclick="search()">
      Search
    </button>
  </ul>
{% endblock %}

<!-- Display Area -->
{% block content %}

  <div id="chartArea" style="width: 80%; height: 300px; position: relative; left: 20px;top: 20px;">
    <div id="title" style="">
      <tab>Twitter data Vs Aurin data</tab>
    </div>
    <div id="content" style="position: relative;width: 80%;height: 80%;">
      <canvas id="barChart"></canvas>
    </div>
  </div>

  <div class="map">

  </div>

{% endblock %}

{% block javascript %}
  {{ super() }}
  <script>
    new Chart(document.getElementById("barChart"), {
      type: 'bar',
      data: {
        // areas location
        labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],

        datasets: [{
          label: "Dataset 1",
          backgroundColor: "#3e95cd",
          data: [2478, 5267, 734, 784, 433],
          boarderWidth: 1
        },
          {
            label: "Dataset 2",
            backgroundColor: "#8e5ea2",
            data: [2478, 5267, 734, 784, 433],
            boarderWidth: 1
          }
        ]
      },
      options: {
        maintainAspectRatio: false,
        responsive: true,
        legend: {display: false},
        title: {
          display: true,
          text: 'Predicted world population (millions) in 2050'
        }
      }
    });

    /**
     * click search button,
     * submit form data by ajax
     */
    function search() {
      let chartRadioGroup = $('#chart-radio');
      let sentimentRadioGroup = $('#sentiment-radio');

      let data = {
        keywords: $("#keywords").tagsinput("items"),
        crime: $("#crime-select").val(),
        chart: getRadioVal(chartRadioGroup, 'chart'),
        sentiment: getRadioVal(sentimentRadioGroup, 'sentiment'),
      };

      console.log(data);

      let options = {
        url: "{{ url_for('search') }}",
        dataType: "json",
        contentType: "application/json",
        type: "post",
        data: JSON.stringify(data),
      };

      let callback = function (responseText, statusText) {
        console.log("success");
      };

      $.ajax(options).done(callback);
    }

    /**
     * get value of the radio in the form
     * @param form form object
     * @param name name of the radio
     * @returns value of the radio
     */
    function getRadioVal(form, name) {
      let val;
      let radios = $('[name=' + name + ']');

      for (let i = 0, len = radios.length; i < len; i++) {
        if (radios[i].checked) {
          val = radios[i].value;
          break;
        }
      }
      return val;
    }
  </script>
{% endblock %}